In [1]:
import pandas as pd
import numpy as np
import re

In [27]:
file_review3="C:/Users/Lu/PycharmProjects/Group_Project/orig_review_with_labeling_608598rows.txt"
review3=pd.read_csv(file_review3,sep="\t",header=None)
review3.columns=['user_id', 'prod_id', 'date', 'review', 'rating', 'label']
print(review3.head())
print("length of data:",len(review3))
print("check the null data:",review3.isnull().values.any())

   user_id  prod_id        date  \
0     5044        0  2014-11-16
1     5045        0  2014-09-08
2     5046        0  2013-10-06
3     5047        0  2014-11-30
4     5048        0  2014-08-28

                                              review  rating  label
0  Drinks were bad, the hot chocolate was watered...     1.0     -1
1  This was the worst experience I've ever had a ...     1.0     -1
2  This is located on the site of the old Spruce ...     3.0     -1
3  I enjoyed coffee and breakfast twice at Toast ...     5.0     -1
4  I love Toast! The food choices are fantastic -...     5.0     -1
length of data: 608598
check the null data: False

In [49]:
print(review3.head(20))

    user_id  prod_id        date  \
0      5044        0  2014-11-16
1      5045        0  2014-09-08
2      5046        0  2013-10-06
3      5047        0  2014-11-30
4      5048        0  2014-08-28
5      5049        0  2013-07-16
6      5050        0  2013-03-03
7      5051        0  2014-12-05
8      5052        0  2014-11-26
9      5053        0  2014-11-17
10     5054        0  2014-10-20
11     5055        0  2014-10-13
12     5056        0  2014-10-07
13     5057        0  2014-10-06
14     5058        0  2014-09-22
15     5059        0  2014-09-22
16     5060        0  2014-09-11
17     5061        0  2014-09-10
18     5062        0  2014-09-08
19     5063        0  2014-08-30

                                               review  rating  label
0   Drinks were bad, the hot chocolate was watered...     1.0     -1
1   This was the worst experience I've ever had a ...     1.0     -1
2   This is located on the site of the old Spruce ...     3.0     -1
3   I enjoyed coffee and breakfast twice at Toast ...     5.0     -1
4   I love Toast! The food choices are fantastic -...     5.0     -1
5   The egg on an English muffin (their take on eg...     5.0     -1
6   wonderful relaxed vibe and fantastic homemade ...     5.0     -1
7   Extremely slow kitchen. I went with an hour to...     1.0      1
8   I really wanted to love toast. It's quaint and...     2.0      1
9   First brunch experience here in Philly (actual...     4.0      1
10  Coffee is great and I live close so it's conve...     3.0      1
11  My family and I found this hidden gem while we...     5.0      1
12  So many great things to say about this place ....     5.0      1
13  .. I wanted to love this place... I stopped by...     2.0      1
14  The coffee is just better hear than all of the...     5.0      1
15  Toast was very good for breakfast when you wan...     5.0      1
16  Great Location, Love the vibe, food and love t...     5.0      1
17  Toast is a comfortable and artistic environmen...     4.0      1
18  I stopped into Toast on my way to work to use ...     5.0      1
19  Toast is ok. My goat cheese, tomato and spinac...     2.0      1

In [28]:
data=review3[['user_id','prod_id','date','review']]
print(data.head())

   user_id  prod_id        date  \
0     5044        0  2014-11-16
1     5045        0  2014-09-08
2     5046        0  2013-10-06
3     5047        0  2014-11-30
4     5048        0  2014-08-28

                                              review
0  Drinks were bad, the hot chocolate was watered...
1  This was the worst experience I've ever had a ...
2  This is located on the site of the old Spruce ...
3  I enjoyed coffee and breakfast twice at Toast ...
4  I love Toast! The food choices are fantastic -...

In [29]:
data['date'] = pd.to_datetime(data['date'])

C:\Users\Lu\AppData\Local\Temp\ipykernel_36572\736794659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'])

In [30]:
print(type(data.iloc[0,1]))

<class 'numpy.int64'>

In [39]:
df1=data.copy()
df2=df1.sort_values(['user_id','date'])
print(len(df2))
df2['num_reviews_previous_day']=np.nan
print(df2.head(20))

608598
        user_id  prod_id       date  \
0          5044        0 2014-11-16
1          5045        0 2014-09-08
454843     5046     3841 2013-10-01
78449      5046      716 2013-10-02
2          5046        0 2013-10-06
43979      5046      376 2013-11-02
3          5047        0 2014-11-30
4          5048        0 2014-08-28
5          5049        0 2013-07-16
6          5050        0 2013-03-03
7          5051        0 2014-12-05
8          5052        0 2014-11-26
127448     5052     1158 2014-11-26
353887     5052     3092 2014-12-17
470754     5053     3895 2014-08-18
132806     5053     1219 2014-08-20
523027     5053     4377 2014-08-22
388301     5053     3290 2014-09-12
425010     5053     4304 2014-09-20
427040     5053     3679 2014-09-20

                                                   review  \
0       Drinks were bad, the hot chocolate was watered...
1       This was the worst experience I've ever had a ...
454843  I am a long time customer of this site back to...
78449   The pumpkin pancakes are quite good but the pl...
2       This is located on the site of the old Spruce ...
43979   I am becoming frustrated with yelp.  I placed ...
3       I enjoyed coffee and breakfast twice at Toast ...
4       I love Toast! The food choices are fantastic -...
5       The egg on an English muffin (their take on eg...
6       wonderful relaxed vibe and fantastic homemade ...
7       Extremely slow kitchen. I went with an hour to...
8       I really wanted to love toast. It's quaint and...
127448  I had the turducken and Alex had the angus bur...
353887  Absolutely adored this place. You see, I'm a p...
470754  Had the Seared Tuna Tataki and it did not disa...
132806  Awesome soba salad here! My friend ordered the...
523027  Hip City Veg is my FAVORITE place to eat in Un...
388301  Such a nice place to sit with a friend and enj...
425010  Coming from SF, I was totally surprised to fin...
427040  I have to say, being healthy takes a huge toll...

        num_reviews_previous_day
0                            NaN
1                            NaN
454843                       NaN
78449                        NaN
2                            NaN
43979                        NaN
3                            NaN
4                            NaN
5                            NaN
6                            NaN
7                            NaN
8                            NaN
127448                       NaN
353887                       NaN
470754                       NaN
132806                       NaN
523027                       NaN
388301                       NaN
425010                       NaN
427040                       NaN

In [40]:
from datetime import timedelta

In [41]:
length=len(df2)
for i in range(length):
    if i%1000==0:
        print(i)
    j=1
    count=0
    current_id=df2.iloc[i,0]
    current_date=df2.iloc[i,2]
    yesterday=(current_date-timedelta(days=1))
#     print('yesterday',yesterday)
    while df2.iloc[i-j,0]==current_id:
        if df2.iloc[i-j,2]==yesterday:
            count+=1
        j+=1
    df2.iloc[i,4]=count

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
477000
478000
479000
480000
481000
482000
483000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
502000
503000
504000
505000
506000
507000
508000
509000
510000
511000
512000
513000
514000
515000
516000
517000
518000
519000
520000
521000
522000
523000
524000
525000
526000
527000
528000
529000
530000
531000
532000
533000
534000
535000
536000
537000
538000
539000
540000
541000
542000
543000
544000
545000
546000
547000
548000
549000
550000
551000
552000
553000
554000
555000
556000
557000
558000
559000
560000
561000
562000
563000
564000
565000
566000
567000
568000
569000
570000
571000
572000
573000
574000
575000
576000
577000
578000
579000
580000
581000
582000
583000
584000
585000
586000
587000
588000
589000
590000
591000
592000
593000
594000
595000
596000
597000
598000
599000
600000
601000
602000
603000
604000
605000
606000
607000
608000

In [42]:
print(df2.head(20))

        user_id  prod_id       date  \
0          5044        0 2014-11-16
1          5045        0 2014-09-08
454843     5046     3841 2013-10-01
78449      5046      716 2013-10-02
2          5046        0 2013-10-06
43979      5046      376 2013-11-02
3          5047        0 2014-11-30
4          5048        0 2014-08-28
5          5049        0 2013-07-16
6          5050        0 2013-03-03
7          5051        0 2014-12-05
8          5052        0 2014-11-26
127448     5052     1158 2014-11-26
353887     5052     3092 2014-12-17
470754     5053     3895 2014-08-18
132806     5053     1219 2014-08-20
523027     5053     4377 2014-08-22
388301     5053     3290 2014-09-12
425010     5053     4304 2014-09-20
427040     5053     3679 2014-09-20

                                                   review  \
0       Drinks were bad, the hot chocolate was watered...
1       This was the worst experience I've ever had a ...
454843  I am a long time customer of this site back to...
78449   The pumpkin pancakes are quite good but the pl...
2       This is located on the site of the old Spruce ...
43979   I am becoming frustrated with yelp.  I placed ...
3       I enjoyed coffee and breakfast twice at Toast ...
4       I love Toast! The food choices are fantastic -...
5       The egg on an English muffin (their take on eg...
6       wonderful relaxed vibe and fantastic homemade ...
7       Extremely slow kitchen. I went with an hour to...
8       I really wanted to love toast. It's quaint and...
127448  I had the turducken and Alex had the angus bur...
353887  Absolutely adored this place. You see, I'm a p...
470754  Had the Seared Tuna Tataki and it did not disa...
132806  Awesome soba salad here! My friend ordered the...
523027  Hip City Veg is my FAVORITE place to eat in Un...
388301  Such a nice place to sit with a friend and enj...
425010  Coming from SF, I was totally surprised to fin...
427040  I have to say, being healthy takes a huge toll...

        num_reviews_previous_day
0                            0.0
1                            0.0
454843                       0.0
78449                        1.0
2                            0.0
43979                        0.0
3                            0.0
4                            0.0
5                            0.0
6                            0.0
7                            0.0
8                            0.0
127448                       0.0
353887                       0.0
470754                       0.0
132806                       0.0
523027                       0.0
388301                       0.0
425010                       0.0
427040                       0.0

In [45]:
print(len(df2))

608598

### merge the sorted data to original

In [46]:
origin=review3[['user_id','prod_id','date','review']].copy()
origin['date'] = pd.to_datetime(origin['date'])
print(origin.head())

   user_id  prod_id       date  \
0     5044        0 2014-11-16
1     5045        0 2014-09-08
2     5046        0 2013-10-06
3     5047        0 2014-11-30
4     5048        0 2014-08-28

                                              review
0  Drinks were bad, the hot chocolate was watered...
1  This was the worst experience I've ever had a ...
2  This is located on the site of the old Spruce ...
3  I enjoyed coffee and breakfast twice at Toast ...
4  I love Toast! The food choices are fantastic -...

In [47]:
final_data=origin.merge(df2, on=['user_id','prod_id','date','review'],how='left')

In [48]:
print(final_data.head(20))

    user_id  prod_id       date  \
0      5044        0 2014-11-16
1      5045        0 2014-09-08
2      5046        0 2013-10-06
3      5047        0 2014-11-30
4      5048        0 2014-08-28
5      5049        0 2013-07-16
6      5050        0 2013-03-03
7      5051        0 2014-12-05
8      5052        0 2014-11-26
9      5053        0 2014-11-17
10     5054        0 2014-10-20
11     5055        0 2014-10-13
12     5056        0 2014-10-07
13     5057        0 2014-10-06
14     5058        0 2014-09-22
15     5059        0 2014-09-22
16     5060        0 2014-09-11
17     5061        0 2014-09-10
18     5062        0 2014-09-08
19     5063        0 2014-08-30

                                               review  \
0   Drinks were bad, the hot chocolate was watered...
1   This was the worst experience I've ever had a ...
2   This is located on the site of the old Spruce ...
3   I enjoyed coffee and breakfast twice at Toast ...
4   I love Toast! The food choices are fantastic -...
5   The egg on an English muffin (their take on eg...
6   wonderful relaxed vibe and fantastic homemade ...
7   Extremely slow kitchen. I went with an hour to...
8   I really wanted to love toast. It's quaint and...
9   First brunch experience here in Philly (actual...
10  Coffee is great and I live close so it's conve...
11  My family and I found this hidden gem while we...
12  So many great things to say about this place ....
13  .. I wanted to love this place... I stopped by...
14  The coffee is just better hear than all of the...
15  Toast was very good for breakfast when you wan...
16  Great Location, Love the vibe, food and love t...
17  Toast is a comfortable and artistic environmen...
18  I stopped into Toast on my way to work to use ...
19  Toast is ok. My goat cheese, tomato and spinac...

    num_reviews_previous_day
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
5                        0.0
6                        0.0
7                        0.0
8                        0.0
9                        0.0
10                       0.0
11                       0.0
12                       0.0
13                       0.0
14                       0.0
15                       1.0
16                       0.0
17                       0.0
18                       0.0
19                       0.0

In [50]:
from numpy import savetxt
savetxt("feature_num_reviews_previous_day.txt",final_data,fmt="%s",delimiter="\t",encoding="utf-8")